html {
  box-sizing: border-box;
}
/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
}
.detail__wrapper{
  display: grid;
  grid-template-areas:
  "name edit dots"
  "desc activ activ";
  grid-template-columns: 40% 40% 20%;
}
.detail__wrapper--other{
  display: grid;
  grid-template-areas:
  "title descr like"
  "activ activ activ";
}

.description__wrapper{
  grid-area: "desc";
  padding: 2rem;
  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 2rem;
  margin: 1rem;
  background-color: #67FF82; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #67FF82 , #A5FFB6);
  text-align: center;
}
.description__wrapper--other{
  grid-area: "descr";
  padding: 2rem;
  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 2rem;
  margin: 1rem;
  background-color: #67FF82; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #67FF82 , #A5FFB6);
  text-align: center;
}

.activ__wrapper li{
  height: fit-content;

  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 2rem;
  margin: 1rem;
  background-color: #CEB7FF; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #CEB7FF , #9B6EFF);
  text-align: center;
}

.activ__wrapper{
  /*grid-area: "activ";*/
  grid-area: 2 / 2 / 3 / 4;
}
.activ__wrapper--other li{
  height: fit-content;

  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 2rem;
  margin: 1rem;
  background-color: #CEB7FF; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #CEB7FF , #9B6EFF);
  text-align: center;
}
.activ__wrapper--other{
  /*grid-area: "activ";*/
  grid-area: 2 / 1 / 3 / 4;
}
.editDiv{
  grid-area: "edit";
  padding: 2rem;
  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 3rem;
  margin: 1rem;
  background-color: #FF5858; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #FF5858 , #FFA5A5);
  text-align: center;
}
.threedot{
  grid-area: "dots";
  height: 8rem;
  padding: 2rem;
  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 3rem;
  margin: 1rem;
  background-color: #FF5858; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #FF5858 , #FFA5A5);
  text-align: center;
}
.detail__wrapper a{
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}
.delete{
  background-color: red;
  color: white;
}
.deleteActivity-link {
  width: 5rem;
  height: 1.5rem;
}

.bucketlist__title{
  grid-area: "name";
  padding: 2rem;
  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 3rem;
  margin: 1rem;
  background-color: #A5D5FF; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #A5D5FF , #6EB6FF);
  text-align: center;


}
.bucketlist__title--other{
  grid-area: "title";
  padding: 2rem;
  font-size: 2rem;
  color: black;
  border: 4px solid black;
  font-size: 3rem;
  margin: 1rem;
  background-color: #A5D5FF; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #A5D5FF , #6EB6FF);
  text-align: center;


}
.like{
  grid-area: "like""
}
