@import './css/reset.css';
@import './css/vars.css';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
}
main{
  width: 80%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

li {
  line-height: 1.8;
}

.container {
  width: 100%;
  margin: var(--spacerBig) auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pagetitle a {
  text-decoration: none;
  color: var(--colorYellowTitle);
  -webkit-text-stroke: 5px black;
}

.pagetitle {
  margin: 1rem;
  margin-left: 2rem;
  font-size: var(--fontBig);
}

.demo-list {
  margin-top: var(--spacerBig);
  color: var(--colorYellowTitle);
  text-transform: capitalize;
}

body {
  background-color: var(--colorYellow);
  background-image: url(assets/gridbackground.png);

  background-repeat: repeat;
  background-size: cover;
}

.button__login {
  text-decoration: none;
}

.search__bar{
  height: 4rem;
  width: 75rem;
  border: 5px solid black;
  background-color: #FFFFA5;
}

.bucketlists{
  list-style: none;
}

.search__bar[type=text]{
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

.search__bar::placeholder{
  font-size: 2rem;
}

.formLine{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hidden{
  display: none;
  opacity: 0%;
}

.button__login{

  position:absolute;
   top:2rem;
   right:2rem;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 5px solid black;

}
.button__login:hover{
  border: 5px solid black;
  background-color: black;
  color: white;

}

.button__logout{

  position:absolute;
   top:2rem;
   right:2rem;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 5px solid black;

}
.button__logout:hover{
  border: 5px solid black;
  background-color: black;
  color: white;

}
.button__profile{

  position:absolute;
   top:2rem;
   right:12rem;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 5px solid black;

}
.button__profile:hover{
  border: 5px solid black;
  background-color: black;
  color: white;

}

.welcome__text{
  -webkit-text-stroke: 4px black;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #FF6A6A;
  text-align: center;
}
.footer{
  border: 5px solid black;
  padding: 4rem;
  background-color: #A5FFB6; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #A5FFB6 , #67FF82);
}
.footer__container{
  max-width: 100%;
  margin: auto;
}

.footer__container ul{
  list-style: none;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
.footer__column{
  width: 25%;
  
}

.footer__column h4{
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  font-weight: 500;
  position: relative;
}


.footer__column ul{
  text-align: center;
  font-size: 1rem;
  color: rgb(0, 153, 255);
}
.footer__column ul li:not(:last-child){
  margin-bottom: 0.5rem;
}
.footer__column ul li a{
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1rem;
  color: rgb(0, 153, 255);
  display: block;
  transition: all 0.3s ease;
}
.footer__column a{
  text-decoration: none;
}

.footer__column ul li a:hover{
  color: rgb(0, 68, 255);
  padding-left: 0.4rem;
}
.button{
  width: 8rem;
}
.button{
  text-align: center;
}
.footer__container .pagetitle{
  font-size: 5rem;
}
.footer__container .pagetitle a {
  -webkit-text-stroke: 3px black;
}
.main__content--wrapper{
  display: flex;
  flex-wrap: nowwrap;
  margin-top: 5rem;
}
.main__illustration{
  width: 40%;
}

.CTA__wrapper{
  margin-left: 5%;
  width: 55%;
  height: inherit;
  border: 5px solid black;
  background-color: #A5FFF8; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #A5FFF8 , #CEFFFB);
}









/* responsive */
@media(max-width: 767px){
  main{
  width: 30rem;
  margin: 0 auto;
}
  .footer__column{
  width: 100%;
  margin-bottom: 2.5rem;
}
  .pagetitle {
    font-size: 2.5rem;
}
.container .pagetitle{
  text-align: center;
}
  .footer__column .pagetitle {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
  .pagetitle a {
  -webkit-text-stroke: 2px black;
}
  .search__bar{
  height: 3rem;
  width: 20rem;
  border: 4px solid black;
  background-color: #FFFFA5;
}

.search__bar[type=text]{
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem;
  font-size: 1rem;
}

.search__bar::placeholder{
  font-size: 1rem;
}
.container {
  width: 100%;
  margin: var(--spacerBig) auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.footer__container{
  width: 100%;
  margin: auto;
}

.welcome__text{
  -webkit-text-stroke: 2px black;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #FF6A6A;
  text-align: center;
  margin-top: 2rem;
}
.button__login{

  position:absolute;
   top:2.5rem;
   right:1rem;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 4px solid black;

}
.button__login:hover{
  border: 4px solid black;
  background-color: black;
  color: white;

}
.button__logout{

  position:absolute;
   top:2.5rem;
   right:1rem;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 4px solid black;

}
.button__logout:hover{
  border: 4px solid black;
  background-color: black;
  color: white;

}
.button__profile{

  position:absolute;
   top:2.5rem;
   left: 1rem;
   right: auto;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 4px solid black;

}
.button__profile:hover{
  border: 4px solid black;
  background-color: black;
  color: white;

}
.button{
  width: 7rem;
}
.button{
  text-align: center;
}
.footer__container .pagetitle a {
  -webkit-text-stroke: 2px black;
}
.main__content--wrapper{
  flex-wrap: wrap;
  margin-top: 2rem;
}
.main__illustration{
  width: 100%;
}
.CTA__wrapper{
  margin-top: 2rem;
  margin-left: 0;
  width: 100%;
  height: 30rem;
  border: 4px solid black;
  background-color: #A5FFF8; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #A5FFF8 , #CEFFFB);
}
}

@media(max-width: 320px){
  .search__bar{
  height: 3rem;
  width: 15rem;
  border: 4px solid black;
  background-color: #FFFFA5;
}
  main{
    width: 100%;
  }
}