@import './css/reset.css';
@import './css/vars.css';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
}
main{
  width: 90rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

li {
  line-height: 1.8;
}

.container {
  width: 140rem;
  margin: var(--spacerBig) auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pagetitle a {
  text-decoration: none;
  color: var(--colorYellowTitle);
  -webkit-text-stroke: 5px black;
}

.pagetitle {
  grid-area:"title";
  font-size: var(--fontBig);
}

.demo-list {
  margin-top: var(--spacerBig);
  color: var(--colorYellowTitle);
  text-transform: capitalize;
}

body {
  background-color: var(--colorYellow);
  background-image: url(assets/gridbackground.png);
  background-repeat: repeat;
  background-size: 50%;
}

.button__login {
  text-decoration: none;
}

.search__bar{
  height: 4rem;
  width: 75rem;
  border: 5px solid black;
  background-color: #FFFFA5;
}

.bucketlists{
  list-style: none;
}

.search__bar[type=text]{
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

.search__bar::placeholder{
  font-size: 2rem;
}

.formLine{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hidden{
  display: none;
  opacity: 0%;
}

.button__login{

  position:absolute;
   top:2rem;
   right:2rem;
   background-color: #FFFFA5;
   padding: 1rem;
   border: 5px solid black;

}
.button__login:hover{
  border: 5px solid black;
  background-color: black;
  color: white;

}


.welcome__text {
  -webkit-text-stroke: 4px black;
}

.welcome__text{
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #FF6A6A;
}
.footer{
  border: 5px solid black;
  padding: 4rem;
  background-color: #A5FFB6; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #A5FFB6 , #67FF82);
}
.footer__container{
  max-width: 100vw;
  margin: auto;
}

.footer__container ul{
  list-style: none;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
.footer__column{
  width: 25%;
}

.footer__column h4{
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
}
.footer__column ul{
  font-size: 1rem;
  color: rgb(0, 153, 255);
}
.footer__column ul a{
  font-size: 1rem;
  color: rgb(0, 153, 255);
}
.footer__column a{
  text-decoration: none;
}

