@import './css/reset.css';
@import './css/vars.css';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
}

li {
  line-height: 1.8;
}

.container {
  width: 140rem;
  margin: var(--spacerBig) auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pagetitle a {
  text-decoration: none;
  color: var(--colorYellowTitle);
  -webkit-text-stroke: 5px black;
}

.pagetitle {
  font-size: var(--fontBig);
}

.demo-list {
  margin-top: var(--spacerBig);
  color: var(--colorYellowTitle);
  text-transform: capitalize;
}

body {
  background-color: var(--colorYellow);
  background-image: url(assets/gridbackground.png);
  background-repeat: repeat;
  background-size: 50%;
}

.button__login {
  text-decoration: none;
}

.search__bar{
  height: 4rem;
  width: 75rem;
  border: 5px solid black;
}

.search__bar[type=text]{
  font-family: 'Noto Sans', sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

.search__bar::placeholder{
  font-size: 2rem;
}

.formLine{
  display: inline;
  width: 100%;
}

.submit__button{
  height: 4rem;
  width: 6rem;
  border: 5px solid black;
}